
.category-items{
    border-bottom: 2px solid rgb(179, 179, 179)
}
.title {
    margin: 10px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cat {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text {
    margin: 10px;
 size: 10px;
 width: 200px;
margin: 0 auto;
}
.phone {
    margin: 10px;
 color: chocolate;
}
.mail {
    margin: 10px;
    color: chocolate;
    
}
.service-img {
    margin: 10px;
width: 300px;
height: 300px;
border-radius: 50%;

}