.carousel {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}
.img:hover {
    width: 550px;
    height: 550px;
    transition:ease-in-out 0.15s;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 42%;
    right: 500px;
    font-size: 3rem;
    color:black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.right-arrow:hover {
    color: #FF5912;
    transition:ease-in-out 0.15s;

}

.left-arrow {
    position: absolute;
    top: 42%;
    left: 500px;
    font-size: 3rem;
    color:black;
    z-index: 10;
    cursor: pointer;
    user-select: none;

}

.left-arrow:hover {
    color: #FF5912;
    transition:ease-in-out 0.15s;

}

.category-btn {
    width: 25%;
    height: 35px;
    background-color: #FF5912;
    border: 1px solid black;
    border-radius: 25px;

}

.category-btn:hover {
    background-color: #ff8550;
    cursor: pointer;
}