.HeaderContainer {
    width: 100%;
    background-color: black;
    height: 25vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.logoContainer {
    grid-row: 1 / 3; 
    grid-column: 2 / 8; 
}

#logo {
    width: 100%;
}

.dashboardContainer {
    grid-row: 1;
    grid-column: 11 / -1;
    font-size: 2rem;
    color: #FF5912;
    display: flex;
    justify-content: space-around;
}

.dashBoardTextContainer {
    grid-row: 2;
    grid-column: 11 / -1;
    display: flex;
    color: #FF5912;
    justify-content: space-around;
    
}

.linkContainer {
    grid-row: 6;
    grid-column: 11 / -1;
    display: flex;
    color: #FF5912;
    justify-content: space-around;
}