@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');



.HeaderContainer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 25vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.logoContainer {
    grid-row: 1 / 3; 
    grid-column: 2 / 8; 
    padding-top: 20px;
}

#logo {
    padding-top: 2%;
    width: 100%;
}

.dashboardIconContainer {
    grid-row: 1 / 2;
    grid-column: 11 / -1;
    font-size: 2rem;
    display: flex;
    padding-top: 4%;
    justify-content: space-around;
    color: #FF5912;
    
}

.dashBoardTextContainer {
    grid-row: 2;
    grid-column: 11 / -1;
    display: flex;
    justify-content: space-evenly;
}

.dashBoardTextContainer a {
    color: white;
    text-decoration: none;
    padding-top: 7px;
}

.dashBoardTextContainer a:hover,  .dashboardIconContainer svg:hover{
    color: rgb(134, 65, 65);
}

.navLinkIcon {
    color: #FF5912;
}

.dashBoardTextContainer a.active{
    text-decoration: overline;
    text-decoration-color: rgb(158, 85, 85);
    text-decoration-style: double;
}

#categoriesIconNotLoggedIn{
    margin-left: 3px;
}

#categoriesIconLoggedIn{
    margin-left: 0px;
}

#loginIcon{
    padding-left: 5px;
}

#registrationIcon{
    margin-right: 3px;
}

#contactIconNotLoggedIn{
    margin-right: 6px;
}

#contactIconLoggedIn{
    margin-right: 0px;
}

.search {
    grid-row: 6;
    grid-column: 5 / 9;
    display: flex;
    color: #FF5912;
    justify-content: space-evenly;
    align-items: center;
}

.searchField {
    width: 60%;
}

.searchBtn {
    display: flex;
    background-color: #FF5912;
    color: white;
    padding: 7px;
    justify-content: center;
}

.registeredUsersCount {
    grid-row: 1;
    grid-column: 9 / 11;
    color: #FF5912;
    padding-top: 10px;
}

.text{
    font-family: 'Libre Bodoni', serif;
}