.container{
  height:30vh;
  width: 100%;
    background-color: #0F292E;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    
   
  }
  .lists{
    color: antiquewhite;
    margin: 10px;
    height:25vh;
    width: 300px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  /* .textbox{
    border-top: solid rgb(42, 41, 41) 2px ;
    border-bottom: solid rgb(42, 41, 41) 2px ;
    margin: 5px;
  }
  .form{
    border: solid red 2px ;
  } */
  .lists a{
    color: inherit;
    text-decoration: none;
  }
  .lists ul{
    font-family:inherit ;
    list-style: none;
    margin: 10px;
  }
  .lists li{
    margin: 10px;
    
  }
  .lists a:hover{
    color: #FF5912;
  }