.footer-container{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 2%;
  }
.icon-container {
  display: flex;
  align-self: flex-end;
  width: 20%;
  align-items: flex-end;

  font-size: large;

}
.icon-container ul {
  display: flex;
  gap: 10px;
}
.icon-container li {
  font-size: large;
}

  /* .textbox{
    border-top: solid rgb(42, 41, 41) 2px ;
    border-bottom: solid rgb(42, 41, 41) 2px ;
    margin: 5px;
  }
  .form{
    border: solid red 2px ;
  } */
 