.kontaktmain{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.kontaktdiv{
    width:50%;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        180deg,
        rgba(145, 145, 145, 0.4) 5%,
        rgba(255, 255, 255, 0.6) 90%
      );
      border-radius: 2px;
}

.kontaktmail {
    text-decoration: none;
    color: inherit;
    
    border-radius: 2px;
    color: #0F292E;
    font-weight: 700;
    text-transform: uppercase;
    font-size: x-large;
    padding: 20px;
    border: 3px solid white;
}

.kontaktmail:hover {
transition: 0.5s;
background-color: rgba(128, 128, 128, 0.299);
color: #0F292E;
border-radius: 2px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
}