.App {
  text-align: center;

}
.App h1, a {
  color: #FF5912;
}
h1 {
  font-size: 30px;
}
.App p {
  color: #9F2B00;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: black;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
container{
  background-color: black;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
input {

}
footer {
  height: 100px;
  background-color: black;
  width: 100%;
  padding-top: 10px;

}

.App-link {
  color: #FF5912;
}

.home-component {
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid black;
  min-height: 500px;

}
nav {
  display: flex;
  flex-direction: row-reverse;
  
}
nav ul {
  list-style: none;
  display: flex;
}

li, a {
  padding: 8px;
  text-decoration: none;
  list-style: none;
  
}

.som{
  background-color: aqua;
}

