body, html {
    width: 100%;
    height: 100%;
    color: #0F292E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

    /*  BUTTON  */
  .btn-primary{
    text-transform: uppercase;
    background-color: transparent;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    width: 100px;
    border: 3px solid white;
    color: white;
    border-radius: 2px;
    transition: 0.5s;
    font-family: inherit;
}
  .btn-primary:hover{
    background-color: white;
    color: black;
}
    /*  BUTTON DARK */
  .btn-primary-dark{
    text-transform: uppercase;
    background-color: transparent;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid white;
    color:#0F292E;
    border-radius: 2px;
    transition: 0.5s;
    font-family: inherit;
}
  .btn-primarydark:hover{
    background-color: white;
    color: black;
}

/*  INPUT  */
.input-primary {
  width: 500px;
  color: white;
  border: 3px solid white;
  background-color: transparent;
  padding: 5px;
  border-radius: 2px;
  font-family: inherit;
  height: 35px;
  margin: 10px;
}

.input-primary:hover {
  cursor: pointer;
}

.input-primary::placeholder{
  color: white;
}

.input-primary:focus {
  outline: none;
  background-color: rgba(128, 128, 128, 0.315);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

/* DARK INPUT */

.input-primary-dark {
  width: 500px;
  color:#0F292E;
  border: 3px solid white;
  background-color: transparent;
  padding: 5px;
  border-radius: 2px;
  font-family: inherit;
  height: 35px;
  margin: 10px;
}

.input-primary-dark:hover {
  cursor: pointer;
}

.input-primary-dark::placeholder{
  color:#0F292E;
}

.input-primary-dark:focus {
  outline: none;
  background-color: whitesmoke;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}


